body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

h2, h3 {
  margin: 20px 0;
}

img {
  max-width: 600px;
  display: block;
  margin: 20px 0;
}

input, button {
  padding: 16px;
  margin: 10px 0;
}

